body {
  background-color: lightyellow;
}

.nav-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  font-weight: bold;
  color: darkblue;
  text-decoration: none;
  align-items: end;
}

.navbar {
  color: darkblue;
  font-size: x-small;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li a {
  text-decoration: none;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.home-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#home-image {
  width: 400px;
  height: 432px;
  padding: 19px;
}

#introduction-title {
  color: darkblue;
  font-size: small;
}

#job-title {
  font-weight: bold;
  color: darkblue;
  display: flex;
  flex-direction: column;
}

#made-country {
  font-weight: small;
  color: darkblue;
}

#resume-button {
  background-color: yellow;
  color: black;
  width: 55px;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-title {
  color: yellow;
  font-weight: bolder;
}

.intro-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.main-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
}
