body {
  background-color: lightyellow;
}

.nav-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  font-weight: bold;
  color: darkblue;
  text-decoration: none;
  align-items: end;
}

.navbar {
  color: darkblue;
  font-size: x-small;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 276px;
}

.navbar ul li a {
  text-decoration: none;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  gap: 6px;
}

.home-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#home-image {
  width: 493px;
  height: 532px;
  padding: 19px;
}

.introduction-title {
  color: darkblue;
  font-size: small;
}

.job-title {
  font-weight: bold;
  color: darkblue;
  display: flex;
  flex-direction: column;
}

.made-country {
  font-weight: small;
  color: darkblue;
}

.resume-button {
  background-color: yellow;
  color: black;
  width: 55px;
}
