body {
  background-color: lightyellow;
  padding: 26px;
}

.nav-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  font-weight: bold;
  color: darkblue;
  text-decoration: none;
  align-items: end;
}

.navbar {
  color: darkblue;
  font-size: x-small;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li a {
  text-decoration: none;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.home-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#home-image {
  width: 400px;
  height: 432px;
  padding: 19px;
}

#introduction-title {
  color: darkblue;
  font-size: small;
}

#job-title {
  font-weight: bold;
  color: darkblue;
  display: flex;
  flex-direction: column;
}

#made-country {
  font-weight: small;
  color: darkblue;
}

#resume-button {
  background-color: yellow;
  color: black;
  width: 60px;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-bottom: 30px;
}

.section-header h2 {
  color: yellow;
  font-weight: bolder;
}

.section-header p {
  width: 60%;
}

.main-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
}

.about-body {
  width: 80%;
}

.about-body p {
  font-weight: bold;
}

.work-section {
  display: flex;
  flex-direction: column;
}

.main-work-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#work-image {
  width: 100%;
  height: 50%;
}

.work-div {
  margin: 15px;
}

.image-box-2 {
  width: 560px;
  height: 400px;
  background-image: url("../assets/image-copy-2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.image-box {
  width: 560px;
  height: 400px;
  background-image: url("../assets/image-copy.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.content-section {
  display: flex;
  flex-direction: row;
}

.address-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  /* mobile phones */

  p {
    width: 100%;
  }

  .navbar {
    width: 100%;
  }

  .home-section {
    display: flex;
    flex-direction: column;
  }

  .main-work-div {
    display: flex;
    flex-direction: column;
  }

  .work-div {
    display: flex;
    flex-direction: column;
  }

  #image {
    width: 100%;
  }

  .image-box-2 {
    width: 100%;
  }

  .image-box {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  /* for tablet*/
  .navbar {
    width: 100%;
  }
}
